.res-slide {
    background-size: cover;
    max-width: 220px;
    min-height: 320px;
    padding: 20px 15px;
    /* border: 2px solid #F9A51A; */
    border-radius: 20px;
    display: flex;
    align-items: end;
}
.res-slide:hover{
    cursor: grab;
}
.swiper-slide-active{
    border: 3px solid #F9A51A;
}