.res-slide {
    background-size: cover;
    max-width: 220px;
    min-height: 320px;
    padding: 20px 15px;
    border-radius: 20px;
}
.res-slide:hover{
    cursor: grab;
}
.swiper-slide-active{
    border: 3px solid #F9A51A;
}
/* .res-slide .place-name{
    position: absolute;
    bottom: 15px;
    left: 20px;
} */